<form class="layui-form" action="">

    <div class="layui-form-item">
        <label class="layui-form-label">一级类名</label>
        <div class="layui-input-block">
            <select name="firstTitle" lay-verify="required">
                <option value=""></option>
                {{each result}}
                <option value="{{$value.id}}">{{$value.c1name}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">二级分类名</label>
        <div class="layui-input-block">
            <input type="text" name="secondTitle" required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图标URL</label>
        <div class="layui-input-block">
            <input type="text" name="iconUrl" required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>
    //Demo
    layui.use(['form', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            try {
                // console.log(data.field);
                let {
                    firstTitle,
                    secondTitle,
                    iconUrl
                } = data.field;

                //formData
                let formData = new FormData();
                formData.append('firstTitle', firstTitle);
                formData.append('secondTitle', secondTitle);
                formData.append('iconUrl', iconUrl);

                //ajax
                $.ajax({
                    url: '/admin/second-add-do',
                    method: 'post',
                    data: formData,
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                    success: function (res) {
                        // console.log(res);
                        if (res.code == 200) {
                            layer.msg(res.msg)
                        }

                        //刷新页面
                        $('#showBody').load('/admin/second-add');

                    },
                    error: function (err) {
                        console.log(err);
                    }
                })

                return false;
            } catch (error) {
                console.log(error);
                return false;
            }
        });

        //更新表单
        form.render()
    });
</script>